<div id="contentCadastroClientes">
  <form action="/addClientes" method="POST">
    <h1>Cadastrar Cliente</h1>
    <div class="row">
      <div class="col-3">
        <p>
          <label>Nome Completo:</label><br>
          <input id="nomeCliente" name="nomeCliente" required="required" type="text" minlength="10" />
        </p>
      </div>
      <div class="col-3">
        <p>
          <label>CPF:</label><br>
          <input type="text" name="cpfCliente" id="cpfCliente" onkeyup="setMask(this)" required="required"
            placeholder="000.000.000-00" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})$" maxlength="14">
        </p>
      </div>
      <div class="col-3">
        <p>
          <label>Celular:</label><br>
          <input type="text" name="telefoneCliente" id="telefoneCliente" onkeyup="setMaskCel(this)" required="required"
            placeholder="(XX)9XXXX-XXXX" pattern="^(\(\d{2}\)\d{4,5}-\d{4})$">
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>
          <label>Rua:</label><br>
          <input name="ruaCliente" required="required" type="text" />
        </p>
      </div>
      <div class="col-3">
        <p>
          <label>Bairro:</label><br>
          <input name="bairroCliente" required="required" type="text" />
        </p>
      </div>
      <div class="col-2">
        <p>
          <label>Número:</label><br>
          <input name="numeroCliente" required="required" type="text" />
        </p>
      </div>
    </div>
    <p>
      <input type="submit" id="btn-form" class="btn btn-secondary" value="Cadastrar" />

    </p>
</div>
</div>
<script type="text/javascript">
  function setMask(inputCpf) {
    var cpfCliente = inputCpf;

    setTimeout("aplicar()", 250);
  }

  function aplicar() {
    cpfCliente.value = mask(cpfCliente.value);
  }

  function mask(cpfCliente) {
    cpfCliente = cpfCliente.replace(/\D/g, "");
    cpfCliente = cpfCliente.replace(/^(\d{3})/g, "$1.");
    cpfCliente = cpfCliente.replace(/(\d{3})(\d{3})/g, "$1.$2-");
    return cpfCliente;
  }
  function setMaskCel(inputCel) {
    var telefoneCliente = inputCel;

    setTimeout("aplicarCel()", 250);
  }

  function aplicarCel() {
    telefoneCliente.value = maskCel(telefoneCliente.value);
  }

  function maskCel(telefoneCliente) {
    telefoneCliente = telefoneCliente.replace(/\D/g, "");
    telefoneCliente = telefoneCliente.replace(/^(\d{2})/g, "($1)");
    telefoneCliente = telefoneCliente.replace(/(\d{4,5})(\d{4})/g, "$1-$2");
    return telefoneCliente;
  } 
</script>
