<div id="contentCadastroFornecedor">
  <form action="/addFornecedores" method="POST">
    <h1>Cadastrar Fornecedor</h1>

    <p>
      <label>Nome Completo:</label><br>
      <input name="nomeFornecedor" required="required" minlength="10" type="text" />
    </p>



    <p>
      <label>Celular:</label><br>
      <input type="text" name="telefoneFornecedor" id="telefoneFornecedor" onkeyup="setMaskCel(this)"
        required="required" placeholder="(XX)9XXXX-XXXX" pattern="^(\(\d{2}\)\d{4,5}-\d{4})$">
    </p>
     <p>
      <label>CNPJ:</label><br>
      <input type="text" name="cnpjFornecedor" id="cnpjFornecedor" onkeyup="setMask(this)" required="required"
        placeholder="00.000.000/0000-00" pattern="^(\d{2}\.\d{3}\.\d{3}\/\d{4}-\d{2})$">

      </p>



      <p>
        <input type="submit" id="btn-form" class="btn btn-secondary" value="Cadastrar" />

      </p>
  </form>
</div>

<script type="text/javascript">
  function setMask(inputCnpj) {
    var cnpjFornecedor = inputCnpj;

    setTimeout("aplicar()", 250);
  }

  function aplicar() {
    cnpjFornecedor.value = mask(cnpjFornecedor.value);
  }

  function mask(cnpjFornecedor) {
    cnpjFornecedor = cnpjFornecedor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g, "$1.$2.$3/$4-$5");

    return cnpjFornecedor;
  }

  function setMaskCel(inputCel) {
    var telefoneFornecedor = inputCel;

    setTimeout("aplicarCel()", 250);
  }

  function aplicarCel() {
    telefoneFornecedor.value = maskCel(telefoneFornecedor.value);
  }

  function maskCel(telefoneFornecedor) {
    telefoneFornecedor = telefoneFornecedor.replace(/\D/g, "");
    telefoneFornecedor = telefoneFornecedor.replace(/^(\d{2})/g, "($1)");
    telefoneFornecedor = telefoneFornecedor.replace(/(\d{4,5})(\d{4})/g, "$1-$2");
    return telefoneFornecedor;
  }

</script>
