<h1>Adicionar Produtos</h1>
<form action="/addProduto" method="POST">
<div class="row">
<div class="form-group col-md-4">
    <label for="formGroupExampleInput">Cod Produto</label>
    <input name="codBarra" oninvalid="this.setCustomValidity('Digite um código válido')" pattern="\d*" required type="text" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>

</div>

<div class="form-group col-md-3">
    <label for="formGroupExampleInput">Nome</label>
    <input name="nomeProduto" oninvalid="this.setCustomValidity('Digite um nome válido')" required autocomplete="off" type="text" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>

</div>


</div>

<div class="row">
<div class="form-group col-md-2">
    <label for="formGroupExampleInput">Validade</label>
    <input name="validadeProduto" oninvalid="this.setCustomValidity('Preencha a validade')" required autocomplete="off" name="validadeProdutoEdit" type="date" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>

</div>

<div class="form-group col-md-2">
    <label for="formGroupExampleInput">Quantidade</label>
    <input name="quantidadeProduto" oninvalid="this.setCustomValidity('Digite uma quantidade válida')" required min="0" step="1" autocomplete="off"  type="number" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>

</div>

<div class="form-group col-md-2">
    <label for="formGroupExampleInput">Quantidade Mínima</label>
    <input name="quantidadeMinimaProduto" oninvalid="this.setCustomValidity('Digite uma quantidade válida')" required min="0" step="1" autocomplete="off" type="number" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>

</div>

</div>

<div class="row">
<div class="form-group col-md-2">
    <label for="formGroupExampleInput">Preço</label>
    <input name="precoProduto" oninvalid="this.setCustomValidity('Digite um preço válido')" required pattern="[0-9]+([\.,][0-9]+)?" autocomplete="off" type="text" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>

</div>

<div class="form-group col-md-2">
   <label for="formGroupExampleInput">Categoria </label>
    <select name="categoriaSelect" id="">
      <option value="1">Higiene</option>
      <option value="2">Doces</option>
      <option value="3">Cereais</option>
      <option value="4">Beleza</option>
      <option value="5">Paẽs</option>
    </select>

</div>

</div>
<button type="submit" class="btn btn-secondary">Confirmar</button>

</form>

<script>
    

</script>







