<div id="contentCadastroUsuario">
  
  <form action="/addUsuario" method="POST">
    <h1>Cadastrar Usuário</h1>
    <div class="form-row">
      <div class="col">
        <p>
          <label>Nome Completo:</label><br>
          <input id="nomeUsuario" name="nomeUsuario" required="required" type="text" minlength="10" />
        </p>
      </div>
      <div class="col">
        <p>
          <label>CPF:</label><br>
          <input type="text" name="cpfUsuario" id="cpfUsuario" onkeyup="setMask(this)" required="required"
            placeholder="000.000.000-00" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})$" maxlength="14">
        </p>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <p>
          <label>Função:</label><br>
          <select id="caixaSelecao" class="form-control" name="funcaoUsuario">
            <option>Gerente</option>
            <option>Caixa</option>
          </select>
        </p>
      </div>
      <div class="col">
        <p>
          <label>Senha:</label><br>
          <input id="senha" name="senha" required="required" type="password" minlength="8" />
        </p>
      </div>
    </div>
    <p>
      <input type="submit" id="btn-form" class="btn btn-secondary" value="Cadastrar" />

    </p>

  </form>
 
</div>
<script type="text/javascript">
  function setMask(inputCpf) {
    var cpfUsuario = inputCpf;

    setTimeout("aplicar()", 250);
  }

  function aplicar() {
    cpfUsuario.value = mask(cpfUsuario.value);
  }

  function mask(cpfUsuario) {
    cpfUsuario = cpfUsuario.replace(/\D/g, "");
    cpfUsuario = cpfUsuario.replace(/^(\d{3})/g, "$1.");
    cpfUsuario = cpfUsuario.replace(/(\d{3})(\d{3})/g, "$1.$2-");
    return cpfUsuario;
  }
</script>
