<h1>Nova Venda</h1>

<div class="topVendas">
<div class="row">
<div class="form-group col-md-5">
    <label for="formGroupExampleInput">Cod Produto</label>
    <input autocomplete="off" id="txtcodProduto" type="text" class="form-control"><img id="imgProdutoExiste" src="" alt=""><span id="spProdutoExiste"> </span>
</div>
<div class="form-group col-md-1">
    <label for="formGroupExampleInput">Qtd</label>  
    <input id="txtQtd" min = "1" type="number" value="1" pattern="[1-9]*"class="form-control" onchange="">
</div>
<div class="form-group col-md-2">
    <label for="formGroupExampleInput">Valor Unitário</label>  
    <input id="txtValorUnitario" type="text" class="form-control" value = "0" disabled>
</div>
<div class="form-group col-md-2">
    <label for="formGroupExampleInput">Valor Total</label>  
    <input id="txtValorTotal" type="text" class="form-control" value = "0" disabled>
</div>
<div class="col">  
    <p></p>   
    <button id="btnIncluir" class="btn btn-primary btnVenda">Incluir</button>
</div>
</div>
</div>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table id="tabelaDados" class="table table-hover table-bordered mb-0">
    <!--Table head-->
    <thead>
        <tr>
        <th width="20%">codProduto</th>
        <th width="10%">Qtd</th>         
        <th width="45%">Produto</th>
        <th width="10%">V. Unitário</th>
        <th width="10%">V. Total</th>        
        <th width="5%"></th>
        
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
             
    
             
                        
    </tbody>
    <!--Table body-->
</table>  
</div>

<div class="rodapeVendas">
<div class="row">
<div class="form-group col-md-2">
    <label for="">Tipo de Pagamento</label>
    <select name="" id="tipoPagamento" class="form-control">
        <option value="Dinheiro">Dinheiro</option>
        <option value="Credito">Crédito</option>
        <option value="Debito">Débito</option>   
         <option value="Fiado">Fiado</option>       
    </select>
</div>      
<div class="form-group col-md-2">
    <label for="">CPF Cliente</label>
    <input placeholder="000.000.000-00" id="cpfUsuario" onkeyup="setMask(this)" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})$" type="text" class="form-control">
</div>    
</div>

<div class="row">
<div class="form-group col-md-1">
    <label for="formGroupExampleInput">SubTotal</label>  
    <input id="txtSubTotal" type="text" class="form-control" value = "0" disabled>
</div>
<div class="form-group col-md-1">
    <label for="formGroupExampleInput">Recebido</label>  
    <input id="txtRecebido" type="text" type="number" value="0" pattern="[0-9]*" class="form-control">
</div>
<div class="form-group col-md-1">
    <label for="formGroupExampleInput">Desconto</label>  
    <input id="txtDesconto" type="text" type="number" value="0" pattern="[0-9]*" class="form-control">
</div>
<div class="form-group col-md-1">
    <label for="formGroupExampleInput">Troco</label>  
    <input id="txtTroco" type="text" class="form-control" value = "0" disabled>
</div>
<div class="form-group col-md-2">
    <label for="formGroupExampleInput">TOTAL</label>  
    <input id="txtTotal" type="text" class="form-control" value = "0" disabled>
</div>

<div id="btnRodape" class="form-group col-md-3 btnRodape">
    <button id="btnConfirmar" class="btn btn-primary">Confirmar</button>
    <button class="btn btn-secondary">Cancelar</button>
    
</div>


</div>
</div>


<script>
    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    }

    function setMask(inputCpf) {
        var cpfUsuario = inputCpf;

        setTimeout("aplicar()", 250);
     }

    function aplicar() {
        cpfUsuario.value = mask(cpfUsuario.value);
    }

    function mask(cpfUsuario) {
        cpfUsuario = cpfUsuario.replace(/\D/g, "");
        cpfUsuario = cpfUsuario.replace(/^(\d{3})/g, "$1.");
        cpfUsuario = cpfUsuario.replace(/(\d{3})(\d{3})/g, "$1.$2-");
        return cpfUsuario;
    }
           
    $(document).ready(function(){
        var produtoExiste = false; 
        var produtosCarrinho = [];             

        $('#btnIncluir').attr("disabled", true); 

        $('#btnConfirmar').click(function(){ 
            var inputCpf = document.getElementById("cpfUsuario");
            var produtoIndisponivel = false; 

            var produtosVendidos = []
        
            $('table tr').each(function(index){ 
                var $tds = $(this).find('td'); // Pegando linha
                var cod = $tds.eq(0).text();
                var qtd = $tds.eq(1).text();
                var valor = $tds.eq(3).text();

                {{#each produtos}}    
                if({{quantidadeTotal}} < qtd && {{codBarra}} == cod){
                    console.log(qtd)
                    alert("{{nome}}" + " não possui quantidade suficiente em estoque! Quantidade disponível:" + "{{quantidadeTotal}}");
                    produtoIndisponivel = true; 
                }           

                {{/each}} 

                if(!isNaN(cod) && cod != 0){
                    produto = {
                        cod: cod, 
                        qtd: qtd, 
                        valor: valor
                    };                        

                    produtosVendidos.push(produto);
                };                                   
                                            
                    
            });

            if(!inputCpf.checkValidity()){
                console.log("CPF INVÁLIDO!")
            }
            else if(produtosVendidos.length == 0){
                alert("Você precisa adicionar algum produto!");
            }
            else if(produtoIndisponivel){
                console.log("Produto indisponível");
            }
            else{
            
                                  

            var data = new Date().toISOString().slice(0, 10)
                        
            
            var venda = {
                    dataVenda: data, 
                    tipoPagamento: $("#tipoPagamento").children("option:selected").val(),
                    desconto: parseFloat($("#txtDesconto").val()),
                    valorTotal: parseFloat($("#txtTotal").val()),
                    idUsuario: 1, 
                    cpfCliente: $("#cpfUsuario").val(),
            };
            

            $.ajax({ //Enviando venda                 
                url: '/novaVenda',
                type: 'POST',
                contentType: 'application/json',                
                data: JSON.stringify({venda: venda, produtos: produtosVendidos}),              
                dataType: 'json',
                sucess: window.location = "/novaVenda"
            });          
                  
            
            
             }
              
                        
                   
                                       
                           
            
        }); 
       
                
        function atualizarValores(){
          

            var subTotal = 0;
            var total = 0; 
            $('table tr').each(function(index){
                var $tds = $(this).find('td'); // Pegando linha
                var valor = $tds.eq(4).text();                              
                if(!isNaN(valor) && valor != 0){
                    console.log("Oi")                    
                    subTotal += parseFloat(valor);
                }
                 //Valor da primeira coluna                                           
                       
            });

            $("#txtSubTotal").val(subTotal);

            var recebido = parseFloat($("#txtRecebido").val()); 
            var desconto = parseFloat($("#txtDesconto").val());                   
            

            
            var total = subTotal - desconto; 
            var troco = recebido - total; 

            if(troco >=0) $("#txtTroco").val(troco);
            else $("#txtTroco").val("0")
            if(total >= 0) $("#txtTotal").val(total);
            else $("#txtTotal").val("0");

           
            
            //Adicionar código para atualizar Total 

        }

        $("#tabelaDados").on("click", "#removerLinha", function() {  //Remove linha tabela   
                $(this).closest("tr").remove();
                atualizarValores();
        });       


        $('#btnIncluir').click(function(){ // Insere produto na tabela 
            var nomeProduto; 
            var codBarra;             

            {{#each produtos}}    
                if({{codBarra}} == $("#txtcodProduto").val()){
                    nomeProduto = "{{nome}}";
                    codBarra = "{{codBarra}}"
                    
                }            

            {{/each}} 
            
            var encontrado = false; 
            var btnRemover = '<a id="removerLinha"><img src="img/delete.png" alt=""></a>'
            $('table tr').each(function(index){
                var $tds = $(this).find('td'); // Pegando linha
                var codBarraTabela = $tds.eq(0).text(); //Valor da primeira coluna 
                                           
                if(codBarraTabela == codBarra){
                    console.log("Entrei no if")
                    //Somar valor que já existe na tabela + novo, caso produto já exista. 
                    var qtd = parseInt($tds.eq(1).text()) + parseInt($("#txtQtd").val());
                    var valorTotal = parseFloat($tds.eq(4).text()) + parseFloat($("#txtValorTotal").val());                   
                       
                    $('table tr').eq(index).html("<td>" + $("#txtcodProduto").val() + "</td>" + "<td>" + qtd + "</td>" + "<td>" + nomeProduto + "</td>" + "<td>" + $("#txtValorUnitario").val() + "</td>" + "<td>" + valorTotal + "</td>" + "</td>" + "<td>" + btnRemover + "</td>");  
                    encontrado = true;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                }
              
            });

            if(!encontrado){
               
                var linha = "<tr><td>" + $("#txtcodProduto").val() + "</td>" + "<td>" + $("#txtQtd").val() + "</td>" + "<td>" + nomeProduto + "</td>" + "<td>" + $("#txtValorUnitario").val() + "</td>" + "<td>" + $("#txtValorTotal").val() +"</td>" + "<td>" + btnRemover +"</td></tr>"         
                tableBody = $("table tbody"); 
                tableBody.append(linha);
            }
       
            
            $("#txtQtd").val("1");
            $("#txtValorTotal").val("0");
            $("#txtValorUnitario").val("0");
            $("#txtcodProduto").val("");
            $("#imgProdutoExiste").attr("src", "");
            $("#spProdutoExiste").html("");
            $('#btnIncluir').attr("disabled", true);
            atualizarValores();

                                            
       
        });

        $("[type='number']").keypress(function (evt) {
            evt.preventDefault(); //Proibe que o usuário digite no tipo número
        });
              
        var Arrayprodutos = []
        {{#each produtos}}    

            Arrayprodutos.push({{codBarra}});

        {{/each}}       
      
      
        $("#txtcodProduto").on("keyup", function() { 
            var busca = $(this).val();

            if(Arrayprodutos.includes(parseInt(busca))){  
                produtoExiste = true;        
                $('#btnIncluir').attr("disabled", false);	     
                $("#imgProdutoExiste").attr("src", "img/correto.png");
                $("#spProdutoExiste").html(" Produto encontrado!");
                {{#each produtos}}
                    if({{codBarra}} == busca){

                        var qtd = $("#txtQtd").val();
                        var preco  = {{precoVenda}}
                        var valorTotal = parseInt(qtd) * parseFloat(preco)
                        
                        $("#txtValorUnitario").val(preco);
                        $("#txtValorTotal").val(valorTotal);
                    }
                {{/each}}
            }
            else{

                produtoExiste = false; 
                $('#btnIncluir').attr("disabled", true);	
                $("#imgProdutoExiste").attr("src", "img/false.png");
                $("#spProdutoExiste").html(" Produto não encontrado!");
                $("#txtValorUnitario").val("0");
                $("#txtValorTotal").val("0");              
            }            
          
        }); 

        $("#txtQtd").bind('keyup mouseup', function(){  
            if(produtoExiste){

                var valor = $("#txtValorUnitario").val();
                var qtd = $(this).val();
                var valorTotal = parseInt(qtd) * parseFloat(valor)
                $("#txtValorTotal").val(valorTotal);
            }                  
                    
        });

        $("#txtRecebido").on("keyup", function() { 
            var recebido = $(this).val();
            var inputRecebido = document.getElementById("txtRecebido");           

                              
            if(inputRecebido.checkValidity()){
                
                atualizarValores(); 
            } 
            else{
                $(this).val(recebido.substr(0,recebido.length-1));                
                console.log("Entradas inválidas!");
            }
        
        });

        $("#txtDesconto").on("keyup", function() { 
            var desconto = $(this).val(); 
            var inputDesconto = document.getElementById("txtDesconto");  
                       
            if(inputDesconto.checkValidity()){
                
                atualizarValores(); 
            } 
            else{
                $(this).val(desconto.substr(0,desconto.length-1));                
                console.log("Entradas inválidas!");
            }
        
        });

    
             


        
    });

</script>