<h1>Gerenciar Estoque</h1>
<div class="row">    
    <a href="/addProdutos"><img class = "float" src="img/add.png" alt=""></a>    
    <div class="form-group col-md-9">
    
    </div>
    <div class="form-group col-md-2">    
    <input placeholder="Busca" id="inputBusca" type="text">      
    </div>
     
    
</div>

<!--Table-->
<table id="tabelaDados" class="table table-hover">
    <!--Table head-->
    <thead>
        <tr>
        
        <th>codBarra</th>
        <th>Nome</th>
        <th>Validade</th>
        <th>Quantidade Total</th>      
        <th>Quantidade Mínima</th> 
        <th>Preço</th>         
        <th></th>
        
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        
        {{#each produto}}
          <tr>
            <td>{{codBarra}}</td>
            <td>{{nome}}</td>
            <td>{{validade}}</td>
            <td>{{quantidadeTotal}}</td>
            <td>{{quantidadeMinima}}</td>
            <td>{{precoVenda}}</td>           
            
            <td>
                <a data-toggle="modal" value={{id}} class="MdEditar" data-target="#ModalEditar"><img src="img/edit.png" alt=""></a>
                <a data-toggle="modal" value={{id}} class="MdExcluir" data-target="#ModalExcluir"><img src="img/delete.png" alt=""></a>
                
            </td>
          </tr>
        {{/each}}
        
                        
    </tbody>
    <!--Table body-->
    </table>    
    <!-- Modal Editar-->
   <div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="/editarUsuario/" method="POST">  
        
          <form>
            <div class="row">
            <div class="form-group col-md-5">
                <label for="formGroupExampleInput">Cod Produto</label>
                <input oninvalid="this.setCustomValidity('Digite um código válido')" required autocomplete="off" name="codBarraEdit" type="text" class="form-control">

            </div>
             <div class="form-group col-md-5">
                <label for="formGroupExampleInput">Nome</label>
                <input oninvalid="this.setCustomValidity('Digite um nome válido')" required autocomplete="off" name="nomeProdutoEdit" type="text" class="form-control">

            </div>

            </div>
           
            <div class="row">
            <div class="form-group col-md-5">
                <label for="formGroupExampleInput">Validade</label>
                <input oninvalid="this.setCustomValidity('Preencha a validade')" required autocomplete="off" name="validadeProdutoEdit" type="date" class="form-control">

            </div>
            </div>


            <div class="row">
            <div class="form-group col-md-4">
                <label for="formGroupExampleInput">Quantidade</label>
                <input oninvalid="this.setCustomValidity('Digite uma quantidade válida')" required min="0" step="1" autocomplete="off" name="quantidadeProdutoEdit" type="number" class="form-control">

            </div>

            <div class="form-group col-md-4">
                <label for="formGroupExampleInput">Quantidade Min</label>
                <input oninvalid="this.setCustomValidity('Digite uma quantidade válida')" required min="0" step="1" autocomplete="off" name="quantidadeMinimaProdutoEdit" type="number" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="formGroupExampleInput">Preço</label>
                <input oninvalid="this.setCustomValidity('Digite um preço válido')" required pattern="[0-9]+([\.,][0-9]+)?" autocomplete="off" name="precoProdutoEdit" type="text" class="form-control">

            </div>

            </div>


            <div class="row">
            
            </div>

            <div class="row">
            <div class="form-group col-md-2">
            <label for="formGroupExampleInput">Categoria </label>
                <select name="categoriaSelectEdit" id="">
                <option value="1">Higiene</option>
                <option value="2">Doces</option>
                <option value="3">Cereais</option>
                <option value="4">Beleza</option>
                <option value="5">Paẽs</option>
                </select>

            </div>
            </div>

        
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Confirmar"/>
      </div>
      </form>
      </div>
     </div>
     </div>
<!-- Modal Editar-->

<!-- Modal Excluir-->
   <div class="modal fade" id="ModalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Excluir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja mesmo excluir o Produto?          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
        <a id="btnDel" href="/deletarCliente/"><button type="button" class="btn btn-primary">Sim</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Excluir-->

<script>
  $(document).ready(function () {
    $('.MdExcluir').click(function () { //Roda um evento sempre que o <a> MdExcluir for clicado
        var id = $(this).attr('value'); //Pega o value do <a> que ativou a função       
        $("#btnDel").attr("href", "/deletarProduto/"+id); // Troca o endereço do botão excluir, adicionando o id do objeto
       
    });

    $('.MdEditar').click(function () { //Roda um evento sempre que o <a> MdEditar for clicado
        var id = $(this).attr('value'); //Pega o value do <a> que ativou a função       
        $("#editForm").attr("action", "/editarProduto/"+id);  // Troca o endereço do botão editar, adicionando o id do objeto
          
        {{#each produto}}   
          if ("{{id}}" == id){            
            $('input[name=codBarraEdit]').val("{{codBarra}}");
            $('input[name=nomeProdutoEdit]').val("{{nome}}");
            $('input[name=validadeProdutoEdit]').val("{{validade}}");
            $('input[name=quantidadeProdutoEdit]').val("{{quantidadeTotal}}");
            $('input[name=quantidadeMinimaProdutoEdit').val("{{quantidadeMinima}}");
            $('input[name=precoProdutoEdit]').val("{{precoVenda}}");
          }
        {{/each}}
               
    });   

    $("#inputBusca").on("keyup", function() { 
      var busca = $(this).val().toLowerCase();
      $("#tabelaDados tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(busca) > -1)
      });
       
    });
   

    
  });
</script>