<h1>Gerenciar Fornecedores</h1>
<div class="row">    
    <a href="/addFornecedores"><img class = "float" src="img/add.png" alt=""></a>    
    <div class="form-group col-md-9">
    
    </div>
    <div class="form-group col-md-2">    
    <input placeholder="Busca" id="inputBusca" type="text">      
    </div>
     
    
</div>

<!--Table-->
<table id="tabelaDados" class="table table-hover">
    <!--Table head-->
    <thead>
        <tr>
        
        <th>Nome</th>
        <th>Telefone</th>
        <th>CNPJ</th>             
        <th></th>
        
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        
        {{#each fornecedores}}
          <tr>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{cnpj}}</td>         
            
            <td>
                <a data-toggle="modal" value={{id}} class="MdEditar" data-target="#ModalEditar"><img src="img/edit.png" alt=""></a>
                <a data-toggle="modal" value={{id}} class="MdExcluir" data-target="#ModalExcluir"><img src="img/delete.png" alt=""></a>
                
            </td>
          </tr>
        {{/each}}
        
                        
    </tbody>
    <!--Table body-->
    </table>    
    <!-- Modal Editar-->
   <div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="/editarUsuario/" method="POST">                 

        <p>
            <label>Nome Completo:</label><br>
            <input name="nomeFornecedorEdit" required="required" type="text" />
        </p>

        
        <p>
            <label>Telefone:</label><br>
            <input name="telefoneFornecedorEdit" required="required" type="text" />
        </p>

        <p>
            <label>CPNJ:</label><br>
            <input name="cnpjFornecedorEdit" required="required" type="text" />
        </p>            
        
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Confirmar"/>
      </div>
      </form>
      </div>
     </div>
     </div>
<!-- Modal Editar-->

    <!-- Modal Excluir-->
   <div class="modal fade" id="ModalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Excluir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja mesmo excluir o fornecedor?          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
        <a id="btnDel" href="/deletarCliente/"><button type="button" class="btn btn-primary">Sim</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Excluir-->

<script>
  $(document).ready(function () {
    $('.MdExcluir').click(function () { //Roda um evento sempre que o <a> MdExcluir for clicado
        var id = $(this).attr('value'); //Pega o value do <a> que ativou a função       
        $("#btnDel").attr("href", "/deletarFornecedor/"+id); // Troca o endereço do botão excluir, adicionando o id do objeto
       
    });

    $('.MdEditar').click(function () { //Roda um evento sempre que o <a> MdEditar for clicado
        var id = $(this).attr('value'); //Pega o value do <a> que ativou a função       
        $("#editForm").attr("action", "/editarFornecedor/"+id); // Troca o endereço do botão editar, adicionando o id do objeto
          
        {{#each fornecedores}}   
          if ("{{id}}" == id){            
            $('input[name=nomeFornecedorEdit]').val("{{nome}}");
            $('input[name=cnpjFornecedorEdit]').val("{{cnpj}}");
            $('input[name=telefoneFornecedorEdit]').val("{{telefone}}");          
          }
        {{/each}}
               
    });   

    $("#inputBusca").on("keyup", function() { 
      var busca = $(this).val().toLowerCase();
      $("#tabelaDados tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(busca) > -1)
      });
       
    });
   

    
  });
</script>