<h1>Gerenciar Vendas</h1>
<div class="row">    
    <a href="/novaVenda"><img class = "float" src="img/add.png" alt=""></a>    
    <div class="form-group col-md-9">
    
    </div>
    <div class="form-group col-md-2">    
    <input placeholder="Busca" id="inputBusca" type="text">      
    </div>
     
    
</div>

<!--Table-->

<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table id="tabelaDados" class="table table-hover table-bordered mb-0 tabelaVendas">
    <!--Table head-->
    <thead>
        <tr>
        
        <th>ID</th>
        <th>Data Venda</th>
        <th>Tipo de Pagamento</th>
        <th>Desconto</th>
        <th>Valor Total</th>
        <th>CPF Cliente</th>
        
        
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        
        {{#each venda}}
        
          <tr>
            <td>{{id}}</td>
            <td>{{dataVenda}}</td>
            <td>{{tipoPagamento}}</td>
            <td>{{desconto}}</td>
            <td>{{valorTotal}}</td>
            <td>{{cpfCliente}}</td>
            
          </tr>

        
        {{/each}}
        
                        
    </tbody>
    <!--Table body-->
    </table>    
</div>

       <!-- Modal Produtos-->
<div class="modal fade" id="ModalProdutos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Produtos Vendidos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <table id="tabelaProdutos" class="table table-hover table-bordered mb-0">
    <!--Table head-->
    <thead>
        <tr>
        
        <th>Código</th>
        <th>Qtd</th>
        <th>Valor</th>
                      
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>       
              
                        
    </tbody>
    <!--Table body-->
    </table>            
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
  </div>
</div>
<!-- Modal Produtos-->
    

<script>
  $(document).ready(function () {  

    $("#inputBusca").on("keyup", function() { 
      var busca = $(this).val().toLowerCase();
      $("#tabelaDados tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(busca) > -1)
      });
       
    });

     $(document).on("click", "#tabelaDados tbody tr", function() {
        //Mostrar produtos vendidos 
        $('#ModalProdutos').modal('show');
        var $tds = $(this).find('td');
        var idVenda = $tds.eq(0).text();
        
       $("#tabelaProdutos > tbody").html("");

        {{#each produtosVendidos}}          
          if(idVenda == {{idVenda}}){
              var linha = "<tr><td>" +{{codProduto}} + "</td>" + "<td>" + {{qtdVendida}} + "</td>" + "<td>" + {{precoVenda}} + "</td></tr>"         
              tableBody = $("#tabelaProdutos tbody"); 
              tableBody.append(linha);
              console.log("Entrei")
          }
        {{/each}}

        


     });
   

    
  });
</script>