<h1>Gerenciar Usuários</h1>
<div class="row">    
    <a href="/addUsuarios"><img class = "float" src="img/add.png" alt=""></a>    
    <div class="form-group col-md-9">
    
    </div>
    <div class="form-group col-md-2">    
    <input placeholder="Busca" id="inputBusca" type="text">      
    </div>
     
    
</div>

<!--Table-->
<table id="tabelaDados" class="table table-hover">
    <!--Table head-->
    <thead>
        <tr>
        
        <th>Nome</th>
        <th>CPF</th>
        <th>Função</th>
        <th>Senha</th>
        <th></th>
        
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        
        {{#each usuarios}}
          <tr>
            <td>{{nome}}</td>
            <td>{{cpf}}</td>
            <td>{{funcao}}</td>
            <td>******</td>
            <td>
                <a href="#" data-toggle="modal" value={{id}} class="MdEditar" data-target="#ModalEditar"><img src="img/edit.png" alt=""></a>
                <a href="#" data-toggle="modal" value={{id}} class="MdExcluir" data-target="#ModalExcluir"><img src="img/delete.png" alt=""></a>
                
            </td>
          </tr>
        {{/each}}
        
                        
    </tbody>
    <!--Table body-->
    </table>    
    <!-- Modal Editar-->
   <div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="/editarUsuario/" method="POST">                 

        <p>
            <label>Nome Completo:</label><br>
            <input id="nomeUsuarioEdit" name="nomeUsuarioEdit" required="required" type="text" />
        </p>

        
        <p>
            <label>CPF:</label><br>
            <input id="cpfUsuarioEdit" name="cpfUsuarioEdit" required="required" type="text" />
        </p>

        <p>
            <label>Função:</label><br>
            <select class="form-control" name="funcaoUsuarioEdit">
            <option>Gerente</option>
            <option>Caixa</option>
            </select>            
        </p>

        <p>
            <label>Senha:</label><br>
            <input id="senhaEdit" name="senhaEdit" required="required" type="text" />
        </p>        
        
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Confirmar"/>
      </div>
      </form>
      </div>
     </div>
     </div>
<!-- Modal Editar-->

    <!-- Modal Excluir-->
   <div class="modal fade" id="ModalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Excluir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja mesmo excluir o usuário?          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
        <a id="btnDel" href="/deletarUsario/"><button type="button" class="btn btn-primary">Sim</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Excluir-->

<script>
  $(document).ready(function () {
    $('.MdExcluir').click(function () { //Roda um evento sempre que o <a> MdExcluir for clicado
        var id = $(this).attr('value'); //Pega o value do <a> que ativou a função       
        $("#btnDel").attr("href", "/deletarUsuario/"+id); // Troca o endereço do botão excluir, adicionando o id do objeto
       
    });

    $('.MdEditar').click(function () { //Roda um evento sempre que o <a> MdEditar for clicado
        var id = $(this).attr('value'); //Pega o value do <a> que ativou a função       
        $("#editForm").attr("action", "/editarUsuario/"+id); // Troca o endereço do botão editar, adicionando o id do objeto
          
        {{#each usuarios}}   
          if ("{{id}}" == id){            
            $('input[name=nomeUsuarioEdit]').val("{{nome}}");
            $('input[name=cpfUsuarioEdit]').val("{{cpf}}");
            $('input[name=funcaoUsuarioEdit]').val("{{funcao}}");
            $('input[name=senhaEdit]').val("{{senha}}");
          }
        {{/each}}
               
    });   

    $("#inputBusca").on("keyup", function() { 
      var busca = $(this).val().toLowerCase();
      $("#tabelaDados tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(busca) > -1)
      });
       
    });
   

    
  });
</script>