
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/signIn.css">

    <title>SVPD Login</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style5.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
   

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
     
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Entrar no SVPD</h5>            
            <form action="/login" method="POST">
              <div class="form-label-group">
                <label for="">CPF</label>
                <input class="form-control" type="text" name="cpf" id="cpfUsuario" onkeyup="setMask(this)" required="required"
            placeholder="000.000.000-00" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})$" maxlength="14">
              </div>

              <div class="form-label-group">
                <label for="">Senha</label>
                <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="" required>
                <label for="inputPassword"></label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Lembrar Senha</label>
              </div>
              <button id="btnEntrar" type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Entrar</button>
              <p id="erroP" class="erroSenha"></p>
              
              <p class="copy mt-5 mb-3 text-center">&copy;2019</p>
              <hr class="my-4">
              </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Aviso-->
   <div class="modal fade" id="ModalAviso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbody">
             
      </div>
     
    </div>
  </div>
</div>
<!-- Modal Aviso-->
<script>

  function setMask(inputCpf) {
    var cpfUsuario = inputCpf;

    setTimeout("aplicar()", 250);
  }

  function aplicar() {
    cpfUsuario.value = mask(cpfUsuario.value);
  }

  function mask(cpfUsuario) {
    cpfUsuario = cpfUsuario.replace(/\D/g, "");
    cpfUsuario = cpfUsuario.replace(/^(\d{3})/g, "$1.");
    cpfUsuario = cpfUsuario.replace(/(\d{3})(\d{3})/g, "$1.$2-");
    return cpfUsuario;
  }

  $(document).ready(function(){
      if("{{error}}" == "login"){         
        $("#modalbody").html("CPF incorreto!");
        $('#ModalAviso').modal('show');      
      }
      else if("{{error}}" == "senha"){
        $("#modalbody").html("Senha incorreta!");
        $('#ModalAviso').modal('show');

      }

  });
  


</script>
</body>

</html>